[Unit]
Description=Hyprdots Battery Monitor Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/hyprdots/bin/hyprdots-battery-monitor
Environment=DISPLAY=:0
LogLevelMax=warning
